name: Deploy to DigitalOcean via SSH

on:
  tags:
    - '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME_PORTFOLIO: ${{ github.repository }}-portfolio

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-modules-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
            ${{ runner.os }}-node-modules-${{ env.cache-name }}-
            ${{ runner.os }}-node-modules-

      - name: Cache composer dependencies
        id: cache-composer
        uses: actions/cache@v4
        env:
          cache-name: cache-composer-dependencies
        with:
          path: ./vendor
          key: ${{ runner.os }}-composer-${{ env.cache-name }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ env.cache-name }}-${{ hashFiles('**/composer.lock') }}
            ${{ runner.os }}-composer-${{ env.cache-name }}-
            ${{ runner.os }}-composer-

      - name: Rebuild .env from GitHub Secrets
        run: |
          cat > .env <<'ENVEND'
          APP_NAME="${{ secrets.APP_NAME }}"
          APP_ENV=production
          APP_KEY="${{ secrets.APP_KEY }}"
          APP_DEBUG=false
          APP_URL="${{ secrets.APP_URL }}"

          APP_LOCALE=en
          APP_FALLBACK_LOCALE=en
          APP_FAKER_LOCALE=en_US

          APP_MAINTENANCE_DRIVER=file
          PHP_CLI_SERVER_WORKERS=4
          BCRYPT_ROUNDS=12

          LOG_CHANNEL=stack
          LOG_STACK=single
          LOG_DEPRECATIONS_CHANNEL=null
          LOG_LEVEL=info

          DB_CONNECTION=sqlite

          SESSION_DRIVER=database
          SESSION_LIFETIME=120
          SESSION_ENCRYPT=false
          SESSION_PATH=/
          SESSION_DOMAIN=null

          BROADCAST_CONNECTION=log
          FILESYSTEM_DISK=local
          QUEUE_CONNECTION=database

          CACHE_STORE=database

          MAIL_MAILER="smtp"
          MAIL_SCHEME="smtps"
          MAIL_HOST="${{ secrets.MAIL_HOST }}"
          MAIL_PORT=${{ secrets.MAIL_PORT }}
          MAIL_USERNAME="${{ secrets.MAIL_USERNAME }}"
          MAIL_PASSWORD="${{ secrets.MAIL_PASSWORD }}"
          MAIL_FROM_ADDRESS="${{ secrets.MAIL_FROM_ADDRESS }}"
          MAIL_FROM_NAME="${{ secrets.APP_NAME }}"

          ADMIN_EMAIL="${{ secrets.ADMIN_EMAIL }}"
          ADMIN_NAME="${{ secrets.ADMIN_NAME }}"

          VITE_APP_NAME="${{ secrets.APP_NAME }}"

          G_RECAPTCHA_SITE_KEY=${{ secrets.G_RECAPTCHA_SITE_KEY }}
          G_RECAPTCHA_SECRET_KEY=${{ secrets.G_RECAPTCHA_SECRET_KEY }}

          VITE_G_RECAPTCHA_SITE_KEY="${G_RECAPTCHA_SITE_KEY}"

          ENVEND

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'

      - name: Setup PHP (with composer)
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, xml, bcmath, curl, zip, intl, mysql, gd, readline
          tools: composer
          coverage: none

      - name: Install PHP dependencies (vendor) in CI
        run: |
          composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist

      - name: Install Node dependencies and build SSR assets
        run: |
          npm ci
          npm run build:ssr

      - name: Launch migrations and optimizations
        run: |
          php artisan migrate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      - name: Remove node_modules before upload
        run: |
          rm -rf node_modules

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker Nginx
        id: meta-portfolio
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_PORTFOLIO }}
          tags: |
            type=raw,value=${{ github.ref_name }}
            type=raw,value=latest

      - name: Build and push Docker image Nginx
        id: push-portfolio
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          file: docker/prod/php-fpm/Dockerfile
          push: true
          tags: ${{ steps.meta-portfolio.outputs.tags }}
          labels: ${{ steps.meta-portfolio.outputs.labels }}
